<span
    class="bg-white mt-3 bg-opacity-50 shadow-primary-300 hover:scale-105 shadow-md py-4 rounded-lg flex flex-col items-center justify-center  cursor-pointer"
    (click)="toggleModal()">

    <img [src]="typeSearch=='flutter'?iconSrc:'https://raw.githubusercontent.com/obed-tc/IconVerse/ce97cf90727d9417007033349001dd53eb95002a/'+iconSrc"
        style="width: 50px; height: 50px;" alt=""
        onerror="this.src='https://cdn-icons-png.flaticon.com/512/7387/7387740.png'" loading="lazy">
    <span class="text-xs truncate">
        {{iconName}}
    </span>
</span>


<app-icon-sidebar *ngIf="modal" (closeModal)="toggleModal()" [urlNameIcon]="iconSrc" [nameIcon]="iconName"
    [typeSearch]="typeSearch"></app-icon-sidebar>