<div class="  flex flex-col  items-center pt-[10vh] pb-10 w-[60vw]">

    <div
        class="border text-primary-900 border-primary-500 dark:text-white px-5 py-1 rounded-full bg-primary-400 bg-opacity-10 text-xs">
        Todos los íconos de todas las plataformas, en un solo lugar.
    </div>
    <h1 class="text-[50px] font-semibold dark:text-white">
        Universo de iconos
    </h1>
    <p class="text-center dark:text-white w-96 text-sm">
        Descubre una gran variedad de íconos gratuitos que harán que tus proyectos sean más atractivos.
    </p>
    <div class="flex  space-x-4 my-5 absolute mt-[190px] z-20">
        <a class="bg-primary-600 px-5 py-2 rounded-full text-white font-bold" [routerLink]="['/flutter']">Explorar
            iconos </a>
        <a class=" border border-primary-600 dark:border-white px-5 py-2 text-primary-800 rounded-full dark:text-white font-bold"
            href="https://github.com/obed-tc/IconVerse">Conocer
            más</a>
    </div>
    <div class="absolute top-[230px] left-1/2 transform -translate-x-1/2 w-[500px] h-[500px] bg-transparent rounded-full blur-3xl animate-pulse z-10"
        style="background: radial-gradient(circle, rgba(0, 140, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);">
    </div>
    <div
        class="border absolute z-30 mt-[280px] bg-white dark:bg-black border-primary-600 dark:border-white h-[290px] rounded-3xl px-5 shadow-md ">
        <div
            class="border border-primary-500 dark:border-white w-[700px] h-[330px] rounded-3xl mt-[-20px] bg-white dark:bg-black bg-[url('assets/imgs/background-light.png')] dark:bg-[url('assets/imgs/background-dark.png')] bg-contain bg-no-repeat bg-center">
        </div>


    </div>
    <div class="h-[350px]"></div>



</div>