<div
    class="flex flex-col min-h-screen 
    
    bg-gradient-to-b from-[#1b1b28] to-white dark:to-black dark:sm:bg-neutral-950 sm:bg-neutral-200 dark:sm:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(33,87,225,0.2),rgba(255,255,255,0))] sm:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(33,87,225,0.5),rgba(255,255,255,0))]">
    <app-header></app-header>
    <main class="flex-1 pt-20 flex h-[80vh]">
        <app-sidebar />
        <router-outlet></router-outlet>

    </main>
    <app-footer />
</div>